{% extends '../base.html' %}

{% load static %}

{% block content %}
<script src="https://js.braintreegateway.com/web/3.102.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.102.0/js/hosted-fields.min.js"></script>

<style>
    #card-number, #cvv, #expiration-date {
        height: 40px;
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
        color: #fff;
    }
    input:focus {
        outline: none;
        color: #fff;
    }

</style>

<!-- payment start -->
<div class="payment__container">
    <div class="payment__wrapper__small">
        <h1 class="text-center" id="logo"><i class="fa-solid fa-user-secret"></i> SPY<span>MATE</span></h1>
        <div class="payment__form__information">
            <div class="card bg-dark mt-5 mb-5" style="position: relative;">
                <div class="overlay_spinner">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>
                <div class="card-body">
                    <h5 class="text-center text-white">Fill the form below to continue</h5>
                    <hr style="border-color: white;">
                    <h2 class="text-white p__type">Choose Payment Type:</h2>
                    <form action="." id="paymentForm" method="post" class="mt-3">
                        {% csrf_token %}

                        <label class="text-white me-5">
                            <input type="radio" name="paymentType" value="paypal" checked> Paypal
                        </label>
                        <label class="text-white mb-4">
                            <input type="radio" name="paymentType" value="credit_card">Credit/Debit Card
                        </label>
                        
                        <div class="mb-3">
                            <label for="full_name" class="form-label text-white">Name</label>
                            <input type="text" name="full_name" class="form-control" id="full_name" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label text-white">Email</label>
                            <input type="email" name="email" class="form-control" id="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone_number" class="form-label text-white">Phone Number</label>
                            <input type="text" name="phone_number" class="form-control" id="phone_number">
                        </div>
                        <br>
                        <div id="credit-card-fields" style="display: none;">
                            <p class="text-white">Toggled On</p>
                            <div id="card-number" class="hosted-field"></div>
                            <div id="cvv" class="hosted-field"></div>
                            <div id="expiration-date" class="hosted-field"></div>
                        </div>
                        <br>
                        <button type="submit" class="payment__btn" id="payment__btn">Continue</button>
                    </form>
                </div>
            </div>        
        </div>
        
    </div>
</div>
<!-- payment end -->


<script>
    const form = document.querySelector('#paymentForm');
    const overlaySpinner = document.querySelector('.overlay_spinner');

    form.addEventListener('submit', (e)=>{
        e.preventDefault();

        overlaySpinner.style.display = 'flex';
        form.submit()

    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        
    });

    // toggle crediyt card selection
    document.addEventListener('DOMContentLoaded', function () {
        const paymentMethodRadios = document.querySelectorAll('input[name="paymentType"]');
        const creditCardFields = document.getElementById('credit-card-fields');

        // fetching token for client
        fetchClientToken().then(clientToken => {
            if (clientToken) {
                initializeHostedFields(clientToken);
            }
        });

        //  integrating these functions in your main initialization process:
        function initializeHostedFields(clientToken) {
            createBraintreeClient(clientToken, function(clientInstance) {
                createHostedFields(clientInstance, function(hostedFieldsInstance) {
                    handlePaymentSubmission(hostedFieldsInstance);
                });
            });
        }


        // toggling the payment type radio
        paymentMethodRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                if (this.value === 'credit_card') {
                    creditCardFields.style.display = 'block';
                } else {
                    creditCardFields.style.display = 'none';
                }
            });
        });


        // Function to fetch client token from server
        function fetchClientToken() {
        return fetch('{% url "paypal:generate_client_token" %}')
            .then(response => response.json())
            .then(data => {
                // console.log('Client token:', data.clientToken);
                return data.clientToken;
            })
            .catch(error => {
                console.error('Failed to fetch client token:', error);
            });
        }

    
        // function to create Braintree client instance using the provided client token.
        function createBraintreeClient(clientToken, callback) {
            braintree.client.create({
                authorization: clientToken
            }, function (clientErr, clientInstance) {
                if (clientErr) {
                    console.error('Error creating client:', clientErr);
                    return;
                }
                callback(clientInstance);
            });
        }

        // function to initialize the Hosted Fields using the client instance.
        function createHostedFields(clientInstance, callback) {
            braintree.hostedFields.create({
                client: clientInstance,
                styles: {
                    'input': {
                        'font-size': '16px',
                        'color': '#3A3A3A'
                    },
                    ':focus': {
                        'color': '#ffffff'
                    },
                    '.valid': {
                        'color': 'green'
                    },
                    '.invalid': {
                        'color': 'red'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: 'Card Number'
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: 'CVV'
                    },
                    expirationDate: {
                        selector: '#expiration-date',
                        placeholder: 'MM/YY'
                    }
                }
            }, function (hostedFieldsErr, hostedFieldsInstance) {
                if (hostedFieldsErr) {
                    console.error('Error creating Hosted Fields:', hostedFieldsErr);
                    return;
                }
                callback(hostedFieldsInstance);
            });
        }

        // function to handle the payment submission using the Hosted Fields instance.
        function handlePaymentSubmission(hostedFieldsInstance) {
            document.querySelector('#payment__btn').addEventListener('click', function (event) {
                event.preventDefault();
                hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                    if (tokenizeErr) {
                        console.error('Error tokenizing:', tokenizeErr);
                        return;
                    }

                    console.log('Payment successful:', payload);
                    // Submit payload to your server to complete the payment
                    fetch('/execute-payment/', {
                        method: 'post',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRFToken': '{{ csrf_token }}'
                        },
                        body: JSON.stringify(payload)
                    }).then(function(res) {
                        return res.json();
                    }).then(function(data) {
                        if (data.status === 'success') {
                            alert('Payment completed successfully!');
                        } else {
                            alert('Payment failed: ' + data.message);
                        }
                    });
                });
            });
        }

    });

    

    // Fetch client token and initialize Hosted Fields on page load
    // document.addEventListener('DOMContentLoaded', function () {
    //     fetchClientToken().then(initializeHostedFields);
    // });
        
    

    

    
</script>


{% endblock %}
