<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spymate</title>
</head>
<body>
    <p>Dear: {{name}}, <br>This is to inform you that your one time purchase of Spymate service was successful, Use the login credentials below to login to your dashboard.</p>
    <p>Username: {{username}}</p>
    <p>Password: {{password}}</p>
    <p>Login URL: <a href="https://spymate.app/account/login/">https://spymate.app/account/login/</a></p>
    <p>Customer Care Email: customercare@spymate.app</p>
    <p>for more information, you can reach us through our customer care email, Thank you.</p>
    
</body>
</html>