<style>
    .footer__container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer__wrapper__small{
        max-width: 400px;
        width: 100%;
        margin-inline: 30px;
    }
    .footer__wrapper__small p{
        font-size: 12px;
        color: rgb(124, 124, 124);
    }
</style>


<div class="footer__container">
    <div class="footer__wrapper__small">
        <p class="text-center">Privacy Policies - Terms of Use</p>
        <p class="text-center">SPY MATE - Copyright 2024</p>
        <center>
            <div id="google_translate_element"></div>
        </center>
    </div>
</div>