{% extends './base.html' %}

{% load static %}

{% block content %}

<!-- page one start -->
<div class="all_first_page">
    <div class="wrapper__all">
        <div class="container py-5">
            <div class="inner__container">

                <h1 class="text-center" id="logo"><i class="fa-solid fa-user-secret"></i> SPY<span>MATE</span></h1>
                
                <!-- users -->
                <div class="active__users">
                    <div class="table__wrapper">
                        <table>
                            <tr>
                                <td class="wider-column">Current Active Users:</td>
                                <td>452,815</td>
                              </tr>
                        </table>
                    </div>
                    <div class="table__wrapper">
                        <table>
                            <tr>
                                <td class="wider-column">Devices Spied On:</td>
                                <td>2,983,410</td>
                            </tr>
                        </table>
                    </div>
                    
                </div>

                <!-- number input -->
                <div class="card shadow bg-dark w-100">
                    <div class="card-body">
                      
                        <h5 class="text-center text-white mb-5">Enter the phone number you want spy on:</h5>
                        <div class="error__message text-center text-danger mb-3">
                        </div>
                        <div class="phone___input">
                            <input type="tel" id="phone" name="phone">
                            <button type="submit" id="number_submit_btn" class="btn">Search</button>
                        </div>

                        <div class="os_logo">
                            <div class="apple__icon">
                                <a href=""><i class="fa-brands fa-apple"></i></a>
                                <p>Apple</p>
                            </div>
                            <div class="android__icon">
                                <a href=""><i class="fa-solid fa-robot"></i></a>
                                <p>Android</p>
                            </div>
                           
                        </div>   
                    </div>
                </div>
                

            </div>
            
        </div>
    </div>
</div>
<!-- page one end -->


<!-- page two start -->
<div class="wrapper__progress mb-5 pb-5" id="page_two">
    <div class="navbar__progress">
        <h1 class="text-center" id="progress_logo"><i class="fa-solid fa-user-secret"></i> SPY<span>MATE</span></h1>
        <div class="whatsapp__btn">
            <i class="fa-brands fa-whatsapp"></i>
            <p class="">Messages:</p>
            <i class="fa-solid fa-spinner fa-spin"></i>
        </div>
    </div>

    <!-- body of page 2 -->
    <div class="page2__body__wrapper mt-5" >
        <div class="page2__body bg-dark mt-5">
            <div class="spinner_new_me">
                <div class="kolo">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                    <p class="text-center mt-4 text-white">Connecting to Whatsapp server ...  <span class="spinner_percent">0%</span></p>
                </div>
            </div>
            <div class="phone_number text-center mt-3">
                +12345677898
            </div>

            <p class="text-center mt-5 text-white fw-bold small">DOWNLOADING <span class="phane_number2"></span>  WHATSAPP MESSAGES, PLEASE WAIT... <span><i class=" ms-3 fa-solid fa-spinner fa-spin"></i></span> </p>

            <!-- progress bar here -->
            <div class="progress-container">
                <div class="progress-bar" id="progressBar"></div>
            </div>

            <div class="progress__info text-white text-center mb-5">
            </div>

            <!-- appearing list item -->
            <ul id="appearing__list" class="mb-5">
                <!-- <li class="list-item"><i class="fa-solid fa-circle-check"></i>Connecting to Whatsapp</li>
                <li class="list-item"><i class="fa-solid fa-circle-check"></i>Searching for Vulnerability</li>
                <li class="list-item"><i class="fa-solid fa-circle-check"></i>Detected a Loophole</li>
                <li class="list-item"><i class="fa-solid fa-circle-check"></i>Decrypting Information</li>
                <li class="list-item"><i class="fa-solid fa-circle-check"></i>Searching conversations, galleries and suspicious contacts...</li> -->
                <li class="list-item"><i class="fa-solid fa-circle-check"></i>Completed</li>
            </ul>
        </div>
    </div>
</div>
<!-- page two end -->

<!-- page three start -->
<div class="page__three">
    <div class="navbar__progress">
        <h1 class="text-center" id="progress_logo"><i class="fa-solid fa-user-secret"></i> SPY<span>MATE</span></h1>
        <div class="whatsapp__btn">
            <i class="fa-brands fa-whatsapp"></i>
            <p class="mt-3" style="font-size: 14px;">Messages:</p>
            <p class=" mt-3" style="font-size: 14px;" id="page_three_count_nav"></p>
        </div>
    </div>

    <h4 class="text-center text-white mt-5 mb-3">Free Consultation finished</h4>

    <div class="part__two__finished">
        <div class="part__two__wrapper">
            <div class="card bg-dark" id="sytem_found">
                <div class="card-body">
                    <h5 class="text-center text-white">We Found Total:</h5>

                    <div class="found__btn">
                        <p class="page_three_count_btn"></p>
                        <p>Messages:</p>
                        <!-- <i class="fa-solid fa-user-secret"></i> -->
                        <p class="unread__messages">17 Unread <br>messages
                        </p>
                    </div>

                    <h5 class="found__charges">We do not charge anything for consultation, it is <span>free</span>. But for those who want to take the next step and have <span>full access to spy on WhatsApp</span>, You must complete registration on this app by paying a one-time fee of <span>U$30,00</span> to keep the server running.</h5>

                    <a href="{% url 'frontend:make_payment' %}" class="register-btn"><i class="fa-solid fa-credit-card me-3"></i>Continue Registraion</a>
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- page three end -->

{% endblock %}